<!DOCTYPE html>
<html>
  <head>
    <title>Dnd5e</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
   <div>
    <nav>
        <ul>
            <li><img src="/assets/temp_logo.png"><li>
            <%if !logged_in?%>
                <li><button><a href="<%= new_session_url %>">Sign In </a></button></li>
            <%else%>
                <li><%= logout_button %></li>
            <%end%>
        </ul>
    </nav>
</div>>
  </header>

<div>
  <% if flash[:errors] %>
    <ul>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
</div>

    <%= yield %>
  </body>
</html>
